RewriteEngine On
RewriteBase /
RewriteRule ^aspect-ratio-calculation/$ /aspect-ratio-calculator [R=301,L]
RewriteRule ^aspect-ratio-calculation$ /aspect-ratio-calculator [R=301,L]
RewriteRule ^gross-profit-calculation/$ /gross-profit-calculator [R=301,L]
RewriteRule ^gross-profit-calculation$ /gross-profit-calculator [R=301,L]
RewriteRule ^holiday-calculation/$ /holiday-calculator [R=301,L]
RewriteRule ^holiday-calculation$ /holiday-calculator [R=301,L]
RewriteRule ^date-time-calculator$ /time-span-calculator [R=301,L]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ index.html [L]