RewriteEngine On
RewriteBase /
RewriteRule ^gross-profit-calculation/$ /gross-profit-calculation [R=301,L]
RewriteRule ^holiday-calculation/$ /holiday-calculation [R=301,L]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ index.html [L]